<ion-header>

  <ion-toolbar color="primary">
    <ion-title>Carrito</ion-title>

    <ion-buttons end>

      <button ion-button (click)="close()">
        Cerrar
      </button>

    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>

  <div text-center class="empty-cart" *ngIf="items.length === 0">
    <ion-icon name="ios-cart-outline" class="icon-5x"></ion-icon>
    <br>
    El carrito está vacio
  </div>

  <ion-list>
    <ion-item *ngFor="let item of items; let i = index">
      <ion-thumbnail item-start>
        <img [src]="item.codigo | image">
      </ion-thumbnail>
      <h2><b>{{ item.producto }}</b></h2>
      <p>
        {{ item.precio_compra | currency }}
      </p>
      <button ion-button color="danger" outline item-end (click)="deleteItem(item, i)">Borrar</button>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf="items.length > 0">
  <ion-toolbar>
    <ion-title><b>Total: </b> {{ getAmount() | currency }}</ion-title>

    <ion-buttons end>

      <button ion-button color="primary" class="fill" (click)="buy()">
        Generar orden
      </button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
