<ion-header>
  <ion-navbar>
    <ion-title>
      Vehicles Store
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row *ngFor="let productPar of products">
      <ion-col *ngFor="let item of productPar">
        <img [src]="item.codigo | image">
        <p>
          {{ item.producto }}
          <br>
          {{ item.precio_compra | currency }}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="notFinished">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Cargando más vehículos..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
