<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Vehicles Store
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="danger" *ngIf="totalItemsToCart() > 0" class="number-cart">{{ totalItemsToCart() }}</ion-badge>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid no-padding>
    <ion-row *ngFor="let productPar of products">
      <ion-col *ngFor="let item of productPar" (click)="detailProduct(item)">

        <ion-card>
          <img [src]="item.codigo | image">
          <ion-card-content>
            <h3><b>{{ item.producto }}</b></h3>
            <p>
              {{ item.precio_compra | currency }}
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="notFinished">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Cargando más vehículos..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
