<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ordenes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div text-center class="empty-cart" *ngIf="orders.length === 0">
    <ion-icon ios="ios-sad-outline" md="md-sad" class="icon-5x"></ion-icon>
    <br>
    Aún no tienes ordenes
  </div>

  <ion-list>

    <button ion-item *ngFor="let order of orders" (click)="goToDetailOrder(order)">
      <b>Orden ID: </b> {{ order.id }}
      <br>
      <small>{{ order.created_at | amLocale:'es' | amTimeAgo }}</small>
    </button>

  </ion-list>

</ion-content>
